.footer-container{
    background-color: black;
    padding: 20px;
    margin-top: 200px;
}

.footer-text{
    color: white;
    text-align: center;
}

.icons{
    display: flex;
    justify-content: center;
    color: white;
}

.fab{
    margin: 5px;
}